{%- macro input(type, name, label, value, error='', attributes={}, required=false, active=true) -%}
<p>
  <label><span class="label_text">{{ label }}</span>
  {% if active -%}
    <input type="{{ type }}" name="{{ name }}" value="{{ value|e }}"
      {%- for attr, val in attributes %} {{attr}}="{{ val }}" {% endfor %}
      {%- if required %} required{% endif %}>
  {% else -%}
    <span class="input_text">{{value|e|default('n/a')}}</span>
  {% endif %}
  </label>
  {%- if error is not empty %}
  <span class="invalid-feedback">{{ error|e|nl2br }}</span>
  {%- endif %}
</p>
{%- endmacro %}

{%- macro input_plain(type, name, value, error='', attributes={}, required=false, active=true) -%}
{% if active %}
<input type="{{ type }}" name="{{ name }}" value="{{ value|e }}"
  {%- for attr, val in attributes %} {{attr}}="{{ val }}" {% endfor %}
  {%- if required %} required{% endif %}>
{%- if error is not empty %}
<span class="invalid-feedback">{{ error|e|nl2br }}</span>
{%- endif %}
{% else -%}
<span class="input_text">{{value|e|default('n/a')}}</span>
{% endif %}
{%- endmacro %}

{%- macro checkbox(name, label, value, checked=false, error='', attributes={}, active=true) -%}
<p>
  <label>
    <input type="checkbox" name="{{ name }}" value="{{ value }}"
      {%- for attr, val in attributes %} {{attr }}="{{ val }}"{% endfor %}
      {%- if checked %} checked{% endif %}
      {%- if not active %} disabled{%endif%}>
    <span>{{ label }}</span></label>
  {%- if error is not empty %}
  <span class="invalid-feedback">{{ error|e|nl2br }}</span>
  {%- endif %}
</p>
{%- endmacro %}

{%- macro textarea(name, label, value, error='', attributes={}, required=false, active=true) -%}
<p>
  <label><span>{{ label }}</span>
  {% if active -%}
    <textarea name="{{ name }}"
      {%- for attr, val in attributes %} {{ attr }}="{{ val }}" {% endfor -%}
      {%- if required %} required{% endif-%}>{{ value|e }}</textarea>
  {% else -%}
    <span class="textarea_text">{{ value|e }}</span>
  {% endif -%}
  </label>
  {%- if error is not empty %}
  <span class="invalid-feedback">{{ error|e|nl2br }}</span>
  {%- endif %}
</p>
{%- endmacro %}

{%- macro select(name, label, options, selected=null, error='', attributes={}, required=false, active=true) -%}
<p>
  <label><span>{{ label }}</span>
    {% if active -%}
    <select name="{{ name }}"
      {%- for attr, val in attributes %} {{ attr }}="{{ val }}"{% endfor -%}
      {%- if required %} required{% endif %}>
      {% for key, text in options %}
      <option value="{{ key|e }}" {% if key==selected %}selected{% endif %}>{{ text|e }}</option>
      {% endfor -%}
    </select>
    {% else -%}
    <span class="input_text">{{ options[selected]|e|default('n/a') }}</span>
    {% endif -%}
  </label>
  {%- if error is not empty %}
  <span class="invalid-feedback">{{ error|e|nl2br }}</span>
  {%- endif %}
</p>
{%- endmacro %}

{%- macro select_plain(name, options, selected=null, error='', attributes={}, required=false, active=true) -%}
{% if active -%}
<select name="{{ name }}"
  {%- for attr, val in attributes %} {{ attr }}="{{ val }}"{% endfor -%}
  {%- if required %} required{% endif %}>
  {% for key, text in options %}
  <option value="{{ key|e }}"{% if key==selected %} selected{% endif %}>{{ text|e }}</option>
  {% endfor -%}
</select>
{%- if error is not empty %}
<span class="invalid-feedback">{{ error|e|nl2br }}</span>
{%- endif %}
{% else -%}
<span class="input_text">{{ options[selected]|e|default('n/a') }}</span>
{% endif -%}
{%- endmacro %}

{%- macro submit(label, name=null, value=null, active=true) -%}
{% if active -%}
<p><button type="submit" {%- if name is not empty %} name="{{name}}" value="{{value??label}}"{%endif%}>{{ label }}</button></p>
{% endif -%}
{%- endmacro %}