<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Tournament powered by Slim{% endblock %}</title>
  <!-- Lokales CSS -->
  <link rel="stylesheet" href="{{ url_for('home') }}css/style.css">
  <link rel="stylesheet" href="{{url_for('home')}}css/tree.css">
  {% block special_links %}{% endblock -%}
</head>
<body>

  <!-- Header -->
  <header class="header">
  <div class="header-container">
    <h1>
      {%- block heading -%}
        {{ tournament.name|default('Kendo Turniersoftware') }}
      {%- endblock -%}
    </h1>

    <nav class="nav-actions">
      {% if current_user -%}
    	<div class="user-menu">
		<button class="user-menu-btn">
        	👤 {{ current_user.username }} ▼
      		</button>
	
      		<div class="user-menu-dropdown">
			<a href="{{url_for('user_account')}}">Account</a>
        		<a href="{{url_for('logout')}}">Logout</a>        		
      		</div>
    	</div>
      {%-else%}
        <a href="{{url_for('login')}}" class="btn-login">Login</a>
      {%-endif%}
    </nav>
  </div>
  </header>

  <!-- Main Content -->
<div class="main-content">
  <main>

  <aside>
      <nav class="tournament">
        {% if return_to is not empty %}<a href="{{url_for(return_to, route_args)}}">&lt;&lt;Zurück</a>{%endif%}
	<a href="{{url_for('home')}}">Turniere Übersicht</a>
        {% if tournament is defined %}<a href="{{ url_for('show_tournament', {'tournamentId': tournament.id}) }}">Turnierkategorien</a>{%endif%}
{% block nav_extension %}{% endblock %}
      </nav>
    </aside>

    <section id="content">
      {% block content %}{% endblock %}
    </section>
  </main>

</body>
</html>
