<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Tournament powered by Slim{% endblock %}</title>
  <!-- Lokales CSS -->
  <link rel="stylesheet" href="{{ url_for('home') }}css/style.css">
  <link rel="stylesheet" href="{{url_for('home')}}css/tree.css">
</head>
<body>

  <!-- Header -->
  <header class="header">
  <div class="header-container">
    <h1>
      {%- block heading -%}
        {{ tournament.name|default('Kendo Turniersoftware') }}
      {%- endblock -%}
    </h1>

    <nav class="nav-actions">
      {% if current_user -%}
        <a href="{{url_for('logout')}}">Logout</a>
        <a href="{{url_for('user_account')}}">Account</a>
      {%-else%}
        <a href="{{url_for('login')}}">Login</a>
      {%-endif%}
    </nav>
  </div>
  </header>

  <!-- Main Content -->
  <main>

    <aside>
      <nav class="tournament">
        {% block nav_extension %}{% endblock -%}
        {% if return_to is not empty %}<a href="{{url_for(return_to, route_args)}}">&lt;&lt;Zurück</a>{%endif%}
        {% if tournament is defined %}<a href="{{ url_for('show_tournament', {'tournamentId': tournament.id}) }}">Turnier-Hauptseite</a>{%endif%}
        <a href="{{url_for('home')}}">Turniere Übersicht</a>
      </nav>
    </aside>

    <section id="content">
      {% block content %}{% endblock %}
    </section>
  </main>

</body>
</html>
