
{% macro printSlot(slot, winner) %}
{% if winner and slot.getParticipant() is same as(winner)%}<em>{%endif%}
{%-if slot.getParticipant()%}{{slot.getParticipant().lastname}}, {{slot.getParticipant().firstname}}
{%-else%}{{slot.str()}}
{%-endif%}
{% if winner and slot.getParticipant() is same as(winner)%}</em>{%endif%}
{% endmacro %}

{% macro printMatch(node) %}
<span class="fight_participant red">{{_self.printSlot(node.slotRed, node.getWinner())}}</span> vs. <span class="fight_participant white">{{_self.printSlot(node.slotWhite, node.getWinner())}}</span>
{% endmacro %}

{% macro printChunkWinner(chunk) %}
{%-if chunk.root.getWinner()%}{{chunk.root.getWinner().lastname}}, {{chunk.root.getWinner().firstname}}
{%-elseif chunk.root.isBye()%}--
{%-else%}Gewinner {{chunk.root.name}}
{%-endif%}
{% endmacro %}

{% macro printMatchLinks(matchList, route_parameters, route_name='show_ko_match') -%}
<table>
  <thead>
    <tr>
      <th>Kampf</th>
      <th class="redside">Kämpfer Rot</th>
      <th class="whiteside">Kämpfer Weiß</th>
    </tr>
  </thead>
  <tbody>
    {% for match in matchList -%}
    <tr>
      <td class="match_name"><a
          href="{{url_for(route_name, route_parameters|merge({'matchName': match.name}))}}">{{match.getLocalId()}}</a></td>
      <td class="participant_name redside">{{_self.printSlot(match.slotRed, match.getWinner())}}</td>
      <td class="participant_name whiteside">{{_self.printSlot(match.slotWhite, match.getWinner())}}</td>
    </tr>
    {% endfor -%}
  </tbody>
</table>
{% endmacro -%}

{% macro printKo(ko, chunks, route_param) %}
<ul class="fight_tree">
  {%- if chunks is defined %}
  <li><span class="round_caption">Kampfflächen</span>
    <ul class="fight_round">
      {% for name, chunk in chunks %}
      <li><span class="fight_name"><a href="{{ url_for('show_ko_area', route_param|merge({'chunk': name})) }}">Gewinner {{chunk.name}}</a></span>
          <span class="fight_participant">{{_self.printChunkWinner(chunk)}}</span>
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endif %}
  {% for round in ko %}
  <li><span class="round_caption">Runde {{loop.index}}</span>
    <ul class="fight_round">
      {% for node in round %}
      <li><span class="fight_name">
        {%- if node.isReal() %}<a href="{{ url_for('show_ko_match', route_param|merge({'matchName': node.name})) }}">{%endif-%}
          Kampf {{node.name}}{% if node.area is defined %} ({{node.area.name}}){%endif%}
        {%- if node.isReal() %}</a>{% endif -%}
        </span>
        {{ _self.printMatch(node) }}
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>
{% endmacro %}