{% import 'base/form.twig' as form %}
{% import 'base/match.twig' as part %}

{%- include 'base/header.twig' with {
  'active_page': 'tournaments.categories.show'
} %}

<nav class="nav-cards">
<ul>
{% if pools is not empty %}
  <li><a href="{{ url_for('tournaments.categories.pools.index', route_context.args) }}">
    <b>Pools</b>
  </a></li>
{% endif %}
{% if ko_rounds is defined %}
  <li><a href="{{ url_for('tournaments.categories.ko.show', route_context.args) }}">
    <b>KO-Baum</b>
  </a></li>
{% endif %}
  <li><a href="{{ url_for('tournaments.categories.edit', route_context.args) }}">
    <b>Konfiguration</b>
  </a></li>
</ul>
</nav>

{% if policy.isActionAllowed('RecordResults') %}
<section>
  <h2>Test-Optionen</h2>
  <form action="{{url_for('tournaments.categories.resetMatchRecords', route_context.args)}}" method="post">
  {{ form.submit('Aktuellen Turnierfortschritt löschen')}}
  </form>
</section>
{% endif %}

{% include 'base/footer.twig' %}
