{% import 'base/form.twig' as form %}
{% import 'base/match.twig' as part %}

{%- include 'base/header.twig' with {
'active_page': 'tournaments.categories.pools.index',
'css': ['tree.css']
} %}

<section>
<h2>{{ route_context.category.name }} - Pools</h2>
<nav class="nav-cards">
<ol class="pool_list">
  {% for pool in pools %}
  <li><a href="{{url_for('tournaments.categories.pools.show', route_context.args|merge({'pool': pool.getName()}))}}">
    <p class="pool_name"><b>Pool {{pool.getName()}}{{ pool.area? " (" ~ pool.area.name ~")" : "" }}</b></p>
    <ul class="participant_list">
      {% for slot in pool.getParticipants() %}
      <li>{{slot.lastname}}, {{slot.firstname}}</li>
      {% endfor %}
    </ul>
  </a></li>
  {% endfor %}
</ol>
</nav>
</section>

{% if unmapped_participants is not empty %}
<section>
  <h2>Nicht zugewiesen</h2>
  <ul>
    {% for p in unmapped_participants %}
    <li>{{p.lastname}}, {{p.firstname}}</li>
    {% endfor %}
  </ul>
  <form action="{{url_for('tournaments.categories.assignParticipants', route_context.args)}}" method="post">
  {{ form.submit('Diese Teilnehmer einsortieren')}}
  </form>
</section>
{% endif %}

{% if policy.isActionAllowed('ManageSetup') %}
<section>
<form action="{{url_for('tournaments.categories.shuffleParticipants', route_context.args)}}" method="post">
{{ form.submit('Teilnehmer neu verteilen', confirm="Wirklich alle Teilnehmer neu verteilen?")}}
</form>
</section>
{% endif %}

{% include 'base/footer.twig' %}

