{% extends 'base/layout.twig' %}
{% import 'base/form.twig' as form %}
{% import 'base/match.twig' as part %}

{% set route_parameters = { 'tournamentId': tournament.id, 'categoryId': category.id } %}

{% block content %}
<nav>
  <ul>
    <li><a href="{{ url_for('show_category_cfg', route_parameters) }}">Kategorie konfigurieren</a></li>
  </ul>
</nav>

<section>
<h2>{{ category.name }} </h2>
{% if pools is not empty %}
<section>
<h3>Pools</h3>
<ul class="pool_list">
  {% for pool in pools %}
  <li>
    <p class="pool_name"><a href="{{ url_for('show_pool', route_parameters|merge({pool: pool.getName})) }}">Pool {{pool.getName()}}</a></p>
    <ul class="participant_list">
      {% for slot in pool.participants %}
      <li>{{slot.lastname}}, {{slot.firstname}}</li>
      {% endfor %}
    </ul>
    <p class="fight_list">Kämpfe:</p>
    <ul class="fight_list">
      {% for match in pool.getMatchList() %}
      <li>{{ part.printMatch(match) }}</li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>
</section>
{% endif %}

{% if ko is defined %}
<section>
<h3>KO-Runde</h3>
{{ part.printKo(ko, chunks, route_parameters) }}
</section>
{% endif %}

{% if unmapped_participants is not empty %}
<section>
  <h3>Nicht zugewiesen</h3>
  <ul>
    {% for p in unmapped_participants %}
    <li>{{p.lastname}}, {{p.firstname}}</li>
    {% endfor %}
  </ul>
</section>
{% endif %}

<form action="{{url_for('reset_category_results', route_parameters)}}" method="post">
  <button type="submit">Ergebnisse löschen</button>
</form>

{% if policy.isActionAllowed('ManageSetup') %}
<form action="{{url_for('repopulate_category', route_parameters)}}" method="post">
  <button type="submit">Teilnehmer neu verteilen</button>
</form>
{% endif %}

</section>
{% endblock %}

