{% import 'base/form.twig' as form %}
{% import 'base/match.twig' as part %}

{% set route_parameters = { 'tournamentId': tournament.id, 'categoryId': category.id } %}

{% block nav_extension %}
  {% if tournament is defined %}
    <!-- Untermenü für die "Turnier-Hauptseite" -->
    <ul class="submenu">
      <li>
        <a href="{{ url_for('tournament_control', {'tournamentId': tournament.id}) }}">
          Turnierleitung
        </a>
      </li>
      <li>
        <a href="{{ url_for('show_category_cfg', route_parameters) }}">
          Kategorie konfigurieren
        </a>
      </li>
    </ul>
  {% endif %}
{% endblock %}


{% block content %}
<section>
<h2>{{ category.name }} </h2>
{% if pools is not empty %}
<section>
<h3>Pools</h3>

<ul class="pool_list">
  {% for pool in pools %}
  
     {% set firstMatch = pool.matches|first %}
    {% if firstMatch is not null %}
        Area: {{ firstMatch.area.name }}
    {% endif %}
  <li>
    <p class="pool_name">Pool {{pool.getName()}}</p>
    <ul class="participant_list">
      {% for slot in pool.participants %}
      <li>{{slot.lastname}}, {{slot.firstname}}</li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>
</section>
{% endif %}

</section>
{% endblock %}

