{% extends 'base/layout.twig' %}
{% import 'base/form.twig' as form %}
{% import 'base/match.twig' as part %}

{% set route_parameters = { 'tournamentId': tournament.id, 'categoryId': category.id, 'pool': pool.getName() } %}

{% block special_links -%}
<link rel="stylesheet" href="{{url_for('home')}}css/match.css">
{% endblock -%}

{% block nav_extension %}<a href="{{url_for('show_category', route_parameters)}}">Zurück...</a>{% endblock %}

{% block content %}

<section class="pool_match_list">
  <h2>Kämpfe</h2>
  <nav id="pool_match_nav" class="match_nav">
    {{part.printMatchLinks(pool.getMatchList(), route_parameters, 'show_pool_match')}}
  </nav>
  {% if pool.needsTieBreakMatch() -%}
  <form method="post" action="{{url_for('add_pool_tiebreak', route_parameters)}}" class="pool_control" id="tie_break_match_adder">
    <button>Entscheidungskampf hinzufügen</button>
  </form>
  {% endif %}
</section>

<section class="pool_ranking">
  <h2>Platzierung</h2>
  <table>
    <thead>
      <tr><th>Platz</th><th>Name</th><th>Siege</th><th>Unentschieden</th><th>Punkte</th></tr>
    </thead>
    <tbody>
      {% for entry in pool.getRanking() -%}
      <tr>
        <td>{{entry.rank}}</td>
        <td>{{entry.participant.lastname}}, {{entry.participant.firstname}}</td>
        <td>{{entry.wins}}</td>
        <td>{{entry.ties}}</td>
        <td>{{entry.points}}</td>
      </tr>
      {% endfor -%}
    </tbody>
  </table>
</section>
{% endblock %}