{% import 'base/match.twig' as part %}

{%- include 'base/header.twig' with {
  'active_page': 'device.categories.show',
  'css': ['tree.css']
} %}

{% if pools is not empty -%}
<section>
  <h2>Pools</h2>
    <nav class="nav-cards">
    <ul>
    {% for pool in pools -%}
      <li><a href="{{ url_for('device.categories.pools.show', route_context.args|merge({'pool': pool.getName()})) }}">
        <b>Pool {{ pool.getName() }}</b>
        <span class="separator"> - </span>
        <span class="details">{{ pool.getMatchList().count() }} Kämpfe</span>
      </a></li>
    {%- endfor %}
    </ul>
  </nav>
</section>
{%- endif %}

{% if change_log is not empty -%}
<section class="change_log">
  <h2>Änderungen</h2>
  <table class="change_log">
    <thead>
      <tr>
        <th>Änderung</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in change_log -%}
      <tr>
        <td>{{ entry.change_type }}</td>
        {% if entry.change_type == 'rename' %}
        <td><del>{{entry.details['from']}}</del> <ins>{{ entry.details['to'] }}</ins></td>
        {% else %}
        <td>{{ entry.details['participant'].getDisplayName() }}
          {%- if entry.details['from'] is not empty %} <del>{{entry.details['from']|humanizeSlotName}}</del>{% endif -%}
          {%- if entry.details['slot_name'] is not empty %} <ins>{{ entry.details['slot_name']|humanizeSlotName
            }}</ins>{% endif -%}
        </td>
        {% endif -%}
      </tr>
      {%- endfor %}
    </tbody>
  </table>
</section>
{%- endif %}

<section>
  <h2>KO</h2>
  <nav class="partial-ko-tree">
    {{ part.printKo(ko_rounds, 'device.categories.ko.matches.show', route_context.args) }}
  </nav>
</section>

{% include 'base/footer.twig' %}
