{% extends 'base/layout.twig' %}
{% import 'category/partials.twig' as part %}

{% set route_parameters = { 'tournamentId': tournament.id, 'categoryId': category.id, 'matchName': node.name } %}

{% block nav_extension %}<a href="{{url_for('show_category', route_parameters)}}">Zurück...</a>{% endblock %}

{% macro printControls(node,participant,possible_pts,undo,route_parameters) -%}
{%- if node.isDetermined() %}
<form method="post" action="{{url_for('update_ko_match', route_parameters)}}">
  <input type="hidden" name="participant" value="{{participant.id}}">
  <input type="hidden" name="undo" value="{{undo.id}}">
  {% for name, pt in possible_pts -%}
  <button name="action" value="{{pt}}">{{pt}}</button>
  {% endfor -%}
  <button name="action" value="undo"{%if undo is null%} disabled{%endif%}>Undo ({{undo.point}})</button>
  {% if node.isModifiable() -%}
  <button name="action" value="winner">Als Gewinner setzen</button>
  {% endif -%}
</form>
{% endif -%}
{% endmacro -%}

{% macro printPoints(points,penalties) -%}
<ul class="point_list">
  {% for pt in points -%}
  <li>{{pt.point}}</li>
  {% endfor -%}
</ul>
<ul class="penalty_list">
  {% for pt in penalties -%}
  <li>{{pt.point}}</li>
  {% endfor -%}
</ul>
{% endmacro -%}

{% block content %}
<h2>Kampf {{node.name}}</h2>
{% if debug is not null %}
<pre>
  {{dump(debug)}}
</pre>
{%endif-%}
<table>
  <thead>
    <tr><th>Rot</th><th>Weiß</th></tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="fight_participant red">{{part.printSlot(node.slotRed, node.getWinner())}}</div>
        {{_self.printPoints(points['red'].points,points['red'].penalty)}}
        {{_self.printControls(node, node.getRedParticipant(),possible_pts,points['red'].undo,route_parameters)}}
      </td>
      <td>
        <div class="fight_participant white">{{part.printSlot(node.slotWhite, node.getWinner())}}</div>
        {{_self.printPoints(points['white'].points,points['white'].penalty)}}
        {{_self.printControls(node, node.getWhiteParticipant(),possible_pts,points['white'].undo,route_parameters)}}
      </td>
    </tr>
  </tbody>
</table>

{% if error is not empty %}
<p class="error">{{error}}</p>
{% endif %}

<nav id="match_nav">
<ul>
  {% if previous is not empty -%}
  <li><a href="{{url_for('show_ko_match', route_parameters|merge({'matchName': previous.name}))}}">Kampf {{previous.name}}</a> - {{part.printMatch(previous)}}</li>
  {%endif%}
  {% for match in next -%}
  <li><a href="{{url_for('show_ko_match', route_parameters|merge({'matchName': match.name}))}}">Kampf {{match.name}}</a> - {{part.printMatch(match)}}</li>
  {%endfor%}
</ul>
</nav>
{% endblock %}