{% import 'base/match.twig' as part %}
{% import 'base/form.twig' as form %}

{% if type == 'ko' %}
{% set update_route, get_route = 'tournaments.categories.ko.matches.update', 'tournaments.categories.ko.matches.show' %}
{% else %}
{% set update_route, get_route = 'tournaments.categories.pools.matches.update', 'tournaments.categories.pools.matches.show' %}
{% endif %}

{%- include 'base/header.twig' with {
  'active_page': get_route,
  'css': ['match.css']
}%}

{% if node_it.back().valid() -%}
<nav id="previous_match_nav" class="match_nav">
  <h2>Vorheriger Kampf{{ area? " (" ~ area.name ~ ")" : "" }}</h2>
  {{part.printMatchLinks(get_route, route_context.args, node_it.back(), 1)}}
</nav>
{%- endif %}

<section>
<h2>
  {%- if pool is not empty %}Pool {{pool}} - {%endif-%}
  Kampf {{node.getLocalId()}}
</h2>
{{ part.printMatchTable([node], node.getName(), update_route, route_context.args) }}
{% if error is not empty %}
<p class="error">{{error}}</p>
{% endif %}
</section>

{% if policy.isActionAllowed('ModifyMatchArea') and pool is empty and area_selection is not empty -%}
<section class="area_mapping">
  <h2>Kampffläche ändern</h2>
  <form method="POST" action="{{ url_for('tournaments.categories.ko.matches.setArea', route_context.args)}}">
    <input type="hidden" name="_METHOD" value="PATCH">
    {{ form.select('area_id', 'Kampffläche', area_selection, node.getArea().id) }}
    {{ form.submit('Speichern') }}
  </form>
</section>
{%- endif %}

{% if node_it.skip().valid() -%}
<nav id="next_match_nav" class="match_nav">
  <h2>Nächste Kämpfe{{ area? " (" ~ area.name ~ ")" : "" }}</h2>
  {{part.printMatchLinks(get_route, route_context.args, node_it.skip(), 3, node_it.roundIdx())}}
</nav>
{% endif -%}

{% include 'base/footer.twig' %}
