{% import 'base/form.twig' as form %}

{% include 'base/header.twig' with {
  'active_page': navigation_key|default('show_category_cfg')
} %}

<section class="form-box">
<h2>{{category.name}} - Konfiguration</h2>
{% if prg_message %}<p class="ok">Daten übernommen und Turnierbaum neu generiert!</p>{% endif -%}
<form action="{{url_for('update_category_cfg', route_context.args)}}" method="post">
  {% set isActive = policy.isActionAllowed('ManageSetup') -%}
  {{ form.select('mode', 'Modus', enum_options(category_modes), prev.mode ?? category.mode.value, errors['mode'], required=true, active=isActive) }}
  {{ form.input('number', 'num_rounds', 'Anzahl KO-Runden', prev.num_rounds ?? category.config.num_rounds, errors['num_rounds'], {'min':2, 'max': 10}, active=isActive) }}
  {{ form.input('number', 'pool_winners', 'Anzahl Pool-Sieger', prev.pool_winners ?? category.config.pool_winners, errors['pool_winners'], {'max': 3, 'min': 1}, active=isActive) }}
  {{ form.input('number', 'max_pools', 'Maximale Anzahl Pools (0 = unbegrenzt)', prev.max_pools ?? category.config.max_pools, errors['max_pools'], {'min': 0}, active=isActive) }}
  {{ form.input('number', 'area_cluster', 'Kampfflächen-Cluster', prev.area_cluster ?? category.config.area_cluster, errors['area_cluster'], {'min': 1}, active=isActive)}}
  {{ form.submit('Speichern und neu generieren', active=isActive) }}
</form>
</section>

{% include 'base/footer.twig' %}
