{% extends 'base/layout.twig' %}
{% import 'base/form.twig' as form %}


{% block nav_extension %}
  {% if tournament is defined %}
    <!-- Untermenü für die "Turnier-Hauptseite" -->
    <ul class="submenu">
      <li>
        <a href="{{ url_for('tournament_control', {'tournamentId': tournament.id}) }}">
          Turnierleitung
        </a>
        <ul class="submenu-2">
          <li class="active">Konfiguration</li>
        </ul>
      </li>
    </ul>
  {% endif %}
{% endblock %}


{% block content %}
<section class="form-box">
  <div class="form-box-header">
    <h2>Turnier-Details</h2>
    <div class="tournament-status">
      <form action="{{ url_for('update_tournament_status', {'tournamentId': tournament.id}) }}" method="post">
        <ul id="new_status_list">
          {% for status in policy.getPossibleTransitions() %}
            <li>{{ form.submit(status.value, 'status', status.value) }}</li>
          {% endfor %}
        </ul>
      </form>
    </div>
  </div>
<form action="{{url_for('update_tournament_config', {'tournamentId': tournament.id})}}" method="post">
  {% set isActive=policy.isActionAllowed('ManageDetails') -%}
  {% if isActive -%}
  {{ form.input('text', 'name', 'Name', prev.tournament.name ?? tournament.name, errors.tournament['name'],
  {'maxlength':100}, required=true, active=isActive) }}
  {% endif -%}
  {{ form.input('date', 'date', 'Datum', prev.tournament.date ?? tournament.date, errors.tournament['date'],
  required=true, active=isActive) }}
  {{ form.textarea('notes', 'Notizen', prev.tournament.notes ?? tournament.notes, errors.tournament['notes'],
  {'rows':4}, active=isActive) }}
  {% if isActive %}{{ form.submit('Aktualisieren') }}{%endif%}
</form>
</section>

<section class="form-box">
<h2>Kampfflächen</h2>

{% if policy.isActionAllowed('ManageSetup') -%}
<table id="area_list" class="participants-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Aktionen</th>
    </tr>
  </thead>
  <tbody>
    {% for area in areas %}
    <tr>
      <td>{{ form.input_plain('text', 'name', prev.areas[area.id].name ?? area.name,
        errors.areas[area.id]['name'],
        {'maxlength':100, 'form': 'area_update_' ~ area.id}, required=true) }}</td>
      <td>
        <form method="POST" action="{{url_for('update_area', {'tournamentId': tournament.id, 'areaId': area.id})}}" id="area_update_{{ area.id }}">
          {{ form.submit('Speichern') }}
        </form>
        <form method="POST" action="{{url_for('delete_area', {'tournamentId': tournament.id, 'areaId': area.id})}}">
          {{ form.submit('Löschen') }}
        </form>
      </td>
    </tr>
    {% endfor %}
    <tr>
      <td>{{ form.input_plain('text', 'name', prev.areas.new.name??'', errors.areas.new['name'],
        {'placeholder': 'Neue Kampffläche', 'maxlength':100, 'form':'area_new'}, required=true) }}</td>
      <td>
        <form method="POST" action="{{url_for('create_area', {'tournamentId': tournament.id})}}" id="area_new">
          {{ form.submit('Hinzufügen') }}
        </form>
      </td>
    </tr>
  </tbody>
</table>
{% else -%}
<ul id="area_list">
  {% for area in areas -%}
  <li>{{area.name}}</li>
  {% endfor -%}
</ul>
{% endif -%}

</section>

<section class="form-box"">
<h2>Kategorien</h2>

{% if policy.isActionAllowed('ManageSetup') -%}
<table id="category_list" class="participants-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Modus</th>
      <th>Aktionen</th>
    </tr>
  </thead>
  <tbody>
    {% for category in categories %}
    <tr>
      <td>
        {{ form.input_plain('text', 'name', prev.categories[category.id].name ?? category.name,
           errors.categories[category.id]['name'], {'maxlength':100, 'form': 'category_update_' ~ category.id},
        required=true) }}
      </td>
      <td>
        {{ form.select_plain('mode', enum_options(category_modes), prev.categories[category.id].mode ?? category.mode.value,
           errors.categories[category.id]['mode'], {'form': 'category_update_' ~ category.id}, required=true) }}
      </td>
      <td>
        <form method="GET" action="{{url_for('show_category_cfg', {'tournamentId': tournament.id, 'categoryId': category.id})}}">
          <input type="hidden" name="return_to" value="show_tournament_config">
          {{ form.submit('Bearbeiten') }}
        </form>
        <form method="POST" action="{{url_for('update_category', {'tournamentId': tournament.id, 'categoryId': category.id})}}" id="category_update_{{ category.id }}">
          {{ form.submit('Speichern') }}
        </form>
        <form method="POST" action="{{url_for('delete_category', {'tournamentId': tournament.id, 'categoryId': category.id})}}">
          {{ form.submit('Löschen') }}
        </form>
      </td>
    </tr>
    {% endfor %}
    <tr>
      <td>
        {{ form.input_plain('text', 'name', prev.categories.new.name??'', errors.categories.new['name'],
                            {'placeholder':'Neue Kategorie', 'maxlength':100, 'form':'category_new'}, required=true) }}
      </td>
      <td>
        {{ form.select_plain('mode', enum_options(category_modes), prev.categories.new.mode??'', errors.categories.new['mode'],
                             {'form':'category_new'}, required=true) }}
      </td>
      <td>
        <form method="POST" action="{{url_for('create_category', {'tournamentId': tournament.id})}}" id="category_new">
          {{ form.submit('Hinzufügen') }}
        </form>
      </td>
    </tr>
  </tbody>
</table>
{% else -%}
<ul id="category_list">
  {% for category in categories -%}
  <li><a href="{{url_for('show_category', {'tournamentId': tournament.id, 'categoryId': category.id})}}">{{category.name}} ({{category.mode.value}})</a></li>
  {% endfor -%}
</ul>
{% endif -%}
</section>

{% endblock %}