{% import 'base/form.twig' as form %}

{% include 'base/header.twig' with {
  'heading': 'Neues Turnier anlegen'
} %}

<div class="form-box">
<form action="{{url_for('tournaments.store')}}" method="post">
   {{ form.input('text', 'name', 'Name', prev.tournament.name, errors.tournament['name'], {'maxlength':100},
   required=true) }}
   {{ form.input('date', 'date', 'Datum', prev.tournament.date, errors.tournament['date'], required=true) }}
   {{ form.textarea('notes', 'Notizen', prev.tournament.notes, errors.tournament['notes']) }}
   {{ form.submit('Anlegen') }}
</form>
</div>

{% include 'base/footer.twig' %}
