{% block subject %}
Passwort zurücksetzen
{% endblock %}

{% block body_html %}
<p>Hallo {{ username }},</p>
<p>Klicke auf den folgenden Link, um dein Passwort zurückzusetzen:</p>
<p><a href="{{ reset_url }}">{{ reset_url }}</a></p>
{% endblock %}

{% block body_text %}
Hallo {{ username }},

Bitte öffne folgenden Link in deinem Browser, um dein Passwort zurückzusetzen:
{{ reset_url }}
{% endblock %}
