{% import 'base/form.twig' as form %}

{%- include 'base/header.twig' with {
  'active_page': 'tournaments.participants.index',
  'nav_entry_label': (participant.id? participant.lastname ~ ", " ~ participant.firstname : 'Teilnehmer hinzufügen'),
} %}

<section>
  <h2>Teilnehmer {{ participant.id? 'bearbeiten' : 'hinzufügen' }}</h2>
  {% if prg_message -%}
  <p class="ok">Teilnehmer wurde {{ prg_message == 'updated'? 'aktualisiert' : 'hinzugefügt' }}!</p>
  {%- endif %}
  {% if errors -%}
  <p class="error">Daten konnten nicht übernommen werden!</p>
  {%- endif %}
  <form method="POST" action="{{ url_for( (participant.id? 'tournaments.participants.update' : 'tournaments.participants.store'), route_context.args) }}">
    <input type="hidden" name="_METHOD" value="{{ participant.id? 'PATCH' : 'POST' }}">
    {{ form.input('text', 'lastname', 'Nachname', prev.lastname ?? participant.lastname, errors.lastname, {'maxlength':100}, required=true) }}
    {{ form.input('text', 'firstname', 'Vorname', prev.firstname ?? participant.firstname, errors.firstname, {'maxlength':100}, required=true) }}
    {{ form.input('text', 'club', 'Verein/Verband', prev.club ?? participant.club, errors.club, {'maxlength':127}) }}
    {% if participant.id -%}
    {{ form.checkbox('withdrawn', 'Teilnehmer abgemeldet', checked: prev.withdrawn ?? participant.withdrawn, active: withdraw_allowed) }}
    {%- endif %}

    <table>
      <thead>
        <tr><th>Kategorie</th><th>Teilnahme</th><th>Startslot</th></tr>
      </thead>
      <tbody>
        {% for category in categories -%}
        <tr>
          <td>{{category.name}}
            <input type="hidden" name="category_list[]" value="{{category.id}}">
          </td>
          <td><input type="checkbox" name="categories[]" value="{{category.id}}" title="{{category.name}}"
              {%- if prev.categories is not null?(category.id in prev.categories):(participant.categories[category.id]??false) %} checked{% endif %}>
          </td>
          <td>
            {{ form.select_plain('pre_assign[]', starting_slots[category.id], prev.pre_assign??participant.categories[category.id].pre_assign ) }}
          </td>
        </tr>
        {% endfor %}
        {% if errors.categories %}<p class="error">{{errors.categories}}</p>{%endif%}
      </tbody>
    </table>
    {{ form.submit('Speichern') }}
  </form>
</section>

{% include 'base/footer.twig' %}
