{% extends 'base/layout.twig' %}
{% import 'base/form.twig' as form %}

{% block content %}
<h2>Teilnehmer bearbeiten</h2>
<form method="POST" action="{{ url_for('update_participant', { 'tournamentId': tournament.id, 'participantId': participant.id}) }}">
   {{ form.input('text', 'lastname', 'Nachname', prev.lastname ?? participant.lastname, errors.lastname, {'maxlength':100}, required=true) }}
   {{ form.input('text', 'firstname', 'Vorname', prev.firstname ?? participant.firstname, errors.firstname, {'maxlength':100}, required=true) }}
   {% for category in categories %}
   {{ form.checkbox('categories[]', category.name,
      (prev.categories is defined)?prev.categories[category]??false:participant.categories[category.id] ?? false,
      errors.categories[category.id] ?? '',
   attributes={'value': category.id}) }}
   {% endfor %}
   {{ form.submit('Speichern') }}
</form>

{% endblock %}
