{% extends 'base/layout.twig' %}
{% import 'base/form.twig' as form %}

{% block content %}
<h2>Teilnehmer bearbeiten</h2>
<form method="POST" action="{{ url_for('update_participant', { 'tournamentId': tournament.id, 'participantId': participant.id}) }}">
   {{ form.input('text', 'lastname', 'Nachname', prev.lastname ?? participant.lastname, errors.lastname, {'maxlength':100}, required=true) }}
   {{ form.input('text', 'firstname', 'Vorname', prev.firstname ?? participant.firstname, errors.firstname, {'maxlength':100}, required=true) }}
   {{ form.input('text', 'club', 'Verein/Verband', prev.club ?? participant.club, errors.club, {'maxlength':127})}}
   {{ form.checkbox('separation_flag', 'Bei Auslosung separieren', prev.separation_flag??participant.separation_flag, '', {'value': 1}) }}
   <fieldset>
    <legend>Kategorien</legend>
   {% for category in categories %}
   {{ form.checkbox('categories[]', category.name,
      (prev.categories is defined)?(category.id in prev.categories):(participant.categories[category.id]??false),
   attributes={'value': category.id}) }}
   {% endfor %}
   {% if errors.categories %}<p class="error">{{errors.categories}}</p>{%endif%}
   </fieldset>
   {{ form.submit('Speichern') }}
</form>

{% endblock %}
