{% import 'base/form.twig' as form %}

{% include 'base/header.twig' with { 'active_page': 'show_participant_list' } %}

<section>
  <h2>Teilnehmer</h2>
{% if prg_message -%}
{% set message_dict = {
  'updated':  "Teilnehmerliste erfolgreich aktualisiert!",
  'imported': "Teilnehmer erfolgreich importiert!",
  'deleted':  "Teilnehmer wurde gelöscht."
} %}
  <p class="ok">{{ message_dict[prg_message.status]|default("Teilnehmerliste erfolgreich aktualisiert!") }}</p>
  {% if prg_message.duplicates is not empty -%}
  <p class="warning">Teilnehmer bereits erfasst und nicht neu importiert:</p>
  <ul id="duplicate_participant_list" class="warning">
    {% for participant in prg_message.duplicates %}
    <li>{{participant.lastname}}, {{participant.firstname}} {%if participant.club%}({{participant.club}}){%endif%}</li>
    {% endfor %}
  </ul>
  {%- endif %}
{%- endif %}
{% if errors -%}
  {% if errors.input_error %}<p class="error">Teilnehmer konnten nicht importiert werden, bitte Eingaben überprüfen</p>{% endif -%}
  {% if errors.sql_error %}<p class="error">{{errors.sql_error}}</p>{% endif -%}
{% endif -%}

<table class="entry-list">
   <thead>
      <tr>
        <th>Aktionen</th>
        <th>Teilnehmer</th>
        <th title="Teilnehmer aus dem selben Verband oder Verein werden bei Auslosung möglichst weit voneinander entfernt platziert.">Verband/Verein</th>
        {% for category in categories -%}
        <th>{{ category.name }}</th>
        {% endfor -%}
      </tr>
    </thead>
    <tbody>
      {% for participant in participants %}
      <tr>
        <td>
          <a href="{{ url_for('show_participant', route_context.args|merge({'participantId': participant.id})) }}">Bearbeiten</a>
          <form method="POST" action="{{ url_for('delete_participant', route_context.args|merge({'participantId': participant.id})) }}">
            <input type="submit" value="Löschen" onclick="return confirm('{{ participant.lastname }}, {{ participant.firstname }} wirklich löschen?');">
          </form>
        </td>
        <td>{{ participant.lastname }}, {{ participant.firstname }}</td>
        <td>{{ participant.club }} </td>
        {% for category in categories -%}
        <td><input type="checkbox" name="category_{{category.id}}[]" value="{{participant.id}}" title="{{category.name}}" form="participant_list_form"
                {%- if participant.categories[category.id] is defined %} checked{%endif%}>
            {%- if participant.categories[category.id].pre_assign -%}
            <span>{{starting_slots[category.id][participant.categories[category.id].pre_assign]}}</span>
            {%- endif -%}
        </td>
        {% endfor -%}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <form method="POST" action="{{ url_for('update_participant_list', route_context.args) }}" id="participant_list_form">
    {{ form.submit('Speichern') }}
  </form>
</section>

<section>
<h2>Teilnehmer importieren</h2>
<form method="POST" action="{{ url_for('upload_participants', { 'tournamentId': tournament.id }) }}" id="participant_upload_form" enctype="multipart/form-data">
  {{ form.input('file', 'participant_file', 'Datei (CSV oder Excel)', '', errors.file, attributes={'accept':".csv,.xlsx,.xls,.ods"}) }}
  {{ form.submit('Importieren', attributes={'class':'form-btn'}) }}
</form>
</section>

<section>
<h2>Teilnehmer hinzufügen</h2>
  <form method="POST" action="{{ url_for('add_participants', route_context.args) }}" id="participant_add_form">
    {{ form.textarea('participants', 'Direkteingabe', prev.participants ?? '', errors.participants, attributes={'rows':10, 'cols': 50, 'id':'participants', 'placeholder':'Vorname Nachname pro Zeile'}) }}
    {{ form.input('text', 'club', 'Verein/Verband', prev.club ?? '', errors.club, attributes={'maxlength':100}) }}
    <fieldset class="category-fieldset">
      <legend>Kategorien auswählen</legend>
      <div class="category-checkboxes">
        {% for category in categories -%}
        {{ form.checkbox('categories[]', category.name, category.id, category.id in prev.categories) }}
        {%- endfor %}
      </div>
      {%- if errors.categories %}
      <p class="error">{{errors.categories}}</p>
      {%endif-%}
    </fieldset>

    {{ form.submit('Hinzufügen', attributes={'class':'form-btn'}) }}
  </form>
</section>

{% include 'base/footer.twig' %}