{% extends 'base/layout.twig' %}
{% import 'base/form.twig' as form %}

{% block nav_extension %}
  {% if route_context.tournament is not null %}
    <!-- Untermenü für die "Turnier-Hauptseite" -->
    <ul class="submenu">
      <li>
        <a href="{{ url_for('tournament_control', route_context.args) }}">
        Turnierleitung
        </a>
      <ul class="submenu-2">
        <li class="active">Anmeldungen</li>
      </ul>
      </li>
    </ul>

  {% endif %}
{% endblock %}

{% block content %}
{%- if errors %}
<div class="form-box">
  {% if errors.input_error %}<p class="form-error">Teilnehmer konnten nicht importiert werden, bitte Eingaben überprüfen</p>{% endif -%}
  {% if errors.sql_error %}<p class="form-error">{{errors.sql_error}}</p>{% endif -%}
  {% if errors.duplicate -%}
  <p class="form-warning">Teilnehmer bereits erfasst und nicht neu importiert:</p>
  <ul id="duplicate_participant_list">
    {% for participant in errors.duplicate %}
    <li>{{participant.lastname}}, {{participant.firstname}} {%if participant.club%}({{participant.club}}){%endif%}</li>
    {% endfor %}
  </ul>
  {%-endif%}
</div>
{% endif -%}
<div class="form-box">
<h2>Teilnehmer</h2>
<table class="participants-table">
   <thead>
      <tr>
         <th>Aktionen</th>
         <th>Teilnehmer</th>
         <th title="Teilnehmer aus dem selben Verband oder Verein werden bei Auslosung möglichst weit voneinander entfernt platziert.">Verband/Verein</th>
         {% for category in categories -%}
         <th>{{ category.name }}</th>
         {% endfor -%}
      </tr>
   </thead>
   <tbody>
      {% for participant in participants %}
      <tr>
         <td>
            <a href="{{ url_for('show_participant', route_context.args|merge({'participantId': participant.id})) }}">Bearbeiten</a>
            <form method="POST" action="{{ url_for('delete_participant', route_context.args|merge({'participantId': participant.id})) }}">
               <input type="submit" value="Löschen" onclick="return confirm('{{ participant.lastname }}, {{ participant.firstname }} wirklich löschen?');">
            </form>
         </td>
         <td>{{ participant.lastname }}, {{ participant.firstname }}</td>
         <td>{{ participant.club }} </td>
         {% for category in categories -%}
         <td><input type="checkbox" name="category_{{category.id}}[]" value="{{participant.id}}" title="{{category.name}}" form="participant_list_form"
                {%- if participant.categories[category.id] is defined %} checked{%endif%}>
                {%- if participant.categories[category.id].pre_assign -%}
                <span>{{starting_slots[category.id][participant.categories[category.id].pre_assign]}}</span>
                {%- endif -%}
         </td>
         {% endfor -%}
         </tr>
      {% endfor %}
   </tbody>
</table>
<form method="POST" action="{{ url_for('update_participant_list', route_context.args) }}" id="participant_list_form">
   {{ form.submit('Speichern') }}
</form>
</div>

<div class="form-box">
<h2>Teilnehmer hinzufügen</h2>
<form method="POST" action="{{ url_for('import_participants', route_context.args) }}" id="participant_add_form">

    {{ form.textarea('participants', 'Direkteingabe', prev.participants ?? '', errors.participants, attributes={'rows':10, 'cols': 50, 'id':'participants', 'placeholder':'Vorname Nachname pro Zeile'}) }}

    {{ form.input('text', 'club', 'Verein/Verband', prev.club ?? '', errors.club, attributes={'maxlength':100}) }}

    <fieldset class="category-fieldset">
      <legend>Kategorien auswählen</legend>
      <div class="category-checkboxes">
        {% for category in categories -%}
        {{ form.checkbox('categories[]', category.name, category.id in prev.categories, '', attributes={'value': category.id}) }}
        {%- endfor %}
        {%- if errors.categories %}
        <p class="error">{{errors.categories}}</p>
        {%endif-%}
      </div>
    </fieldset>

    {{ form.submit('Hinzufügen', attributes={'class':'form-btn'}) }}
  </form>
</div>

{% endblock %}