{% extends 'base/layout.twig' %}

{% block nav_extension %}
  <div class="submenu">
  <a href="{{ url_for('new_tournament_form') }}">Neues Turnier anlegen</a>
</div>
{% endblock %}

{% block content %}
<ul class="tournament_list_by_state">
  {% for status, tournaments in tournaments_by_state %}
  <li class="status-box">
    <h2>{{status}}</h2>
    <table>
  <thead>
    <tr>
      <th class="left-align">Datum</th>
      <th class="left-align">Turnier</th>
    </tr>
  </thead>
  <tbody>
      {% for tournament in tournaments %}
      <tr>
        <td>{{ tournament.date }}</td>
        <td>
          <a href="{{ url_for('show_tournament', { tournamentId: tournament.id }) }}">
            {{ tournament.name }}
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
  {%endfor%}

</ul>
{%- if test_interfaces %}
<p class="debug_stuff">
  <a href="{{url_for('show_db_migrate')}}">DB-Migration</a>
</p>
{% endif -%}
{% endblock %}
