{% import 'base/form.twig' as form %}

{% include 'base/header.twig' with {
  'heading': 'Nutzereinstellungen'
} %}

<div class="form-box">
{% if prg_message %}
<p class="ok">Account wurde aktualisiert!</p>
{% endif %}
{% if errors %}
<p class="error">Daten konnten nicht übernommen werden!</p>
{% endif %}
<form method="post" action="{{ url_for('account.update') }}">
  <input type="hidden" name="_METHOD" value="PATCH">
  <p class="info">
    E-Mail: <span>{{user.email}}</span>
  </p>
  {{ form.input('text', 'display_name', 'Angezeigter Name', prev.display_name ?? user.display_name, errors.display_name, {'maxlength':100}, required=true) }}
  <p class="info">
    <span class="label">Rollen:</span> {{ user.roles|map(r => r.value)|join(', ') }}
  </p>
  <fieldset>
    <legend>Passwort ändern</legend>
    {% if password_msg -%}
    <p class="success">{{ password_msg }}</p>
    {% elseif errors.password -%}
    <p class="error">{{ errors.password }}</p>
    {%- endif %}
    <p><label>Aktuelles Passwort: <input type="password" name="current_password"></label></p>
    <p><label>Neues Passwort: <input type="password" name="new_password"></label></p>
    <p><label>Neues Passwort wiederholen: <input type="password" name="new_password_repeat"></label></p>
  </fieldset>
  <p>
    <button type="submit">Aktualisieren</button>
  </p>
</form>
</div>

{% include 'base/footer.twig' %}
