{% extends "base/layout.twig" %}
{% import 'base/form.twig' as form %}

{% block heading %}Nutzereinstellungen{% endblock %}

{% block content %}

{% if error %}
<p class="error">{{ error }}</p>
{% endif %}

<div class="form-box">
<form method="post" action="{{ url_for('user_account_post') }}">
  <p>
    <label>E-Mail: <span>{{user.email}}</span></label>
  </p>
  {{ form.input('text', 'display_name', 'Angezeigter Name', prev.display_name ?? user.display_name, errors.display_name, {'maxlength':100},
  required=true) }}
  <fieldset>
    <legend>Passwort ändern</legend>
    {% if password_msg -%}
    <p class="success">{{ password_msg }}</p>
    {% elseif password_error -%}
    <p class="error">{{ password_error }}</p>
    {%- endif %}
    <p><label>Aktuelles Passwort: <input type="password" name="current_password"></label></p>
    <p><label>Neues Passwort: <input type="password" name="new_password"></label></p>
    <p><label>Neues Passwort wiederholen: <input type="password" name="new_password_repeat"></label></p>
  </fieldset>
  <p>
    <button type="submit">Aktualisieren</button>
  </p>
</form>
</div>
{% endblock %}