{% import 'base/form.twig' as form %}

{% include 'base/header.twig' with {
  'active_page': 'users.index',
  'nav_entry_label': user.display_name
}%}

{% set form_active = policy.canModifyUser(user) %}

<section>
  <h2>{{user.display_name}}</h2>
  {% if prg_message -%}
  {% set message_dict = {
    'created': 'Benutzer erfolgreich angelegt.',
    'mail_sent': 'Willkommens-Mail erfolgreich gesendet.'
  }-%}
  <p class="ok">{{ message_dict[prg_message]|default('Benutzer aktualisiert.') }}</p>
  {%- endif %}
  {% if errors %}
  <p class="error">Fehler: {{ errors.error|default('Daten konnten nicht übernommen werden!') }}</p>
  {% if errors.policy %}<p class="error">{{ errors.policy }}</p>{% endif %}
  {% endif %}
  <form method="post" action="{{ url_for('users.update', { 'userId': user.id }) }}">
    <input type="hidden" name="_METHOD" value="PATCH">
    <p class="info">
      E-Mail: <span>{{user.email}}</span>
    </p>
    <fieldset id="user_roles">
      <legend>Rollen</legend>
      {% for role in roles -%}
      {{ form.checkbox('roles[]', role.value|humanize, role.value, prev? role.value in prev.role : user.hasRole(role), active: policy.canModifyRole(user, role))}}
      {%- endfor %}
    </fieldset>
    {{ form.checkbox('is_active', 'Benutzer aktiv', true, prev? prev.is_active : user.is_active, active: form_active)}}
    {% if form_active -%}
      <p>
        <input type="submit" value="Speichern">
      </p>
    {%- endif %}
  </form>
  {% if form_active -%}
    {% if user.password_hash is empty -%}
    <form action="{{ url_for('users.sendWelcome', {'userId': user.id}) }}" method="post">
      <button>Willkommens-Mail schicken</button>
    </form>
    {%- endif %}
    <form method="post" action="{{ url_for('users.delete', {'userId': user.id}) }}">
      <input type="hidden" name="_METHOD" value="DELETE">
      <button onclick="return confirm('{{user.display_name}} wirklich löschen?');">Nutzer löschen</button>
    </form>
  {%- endif %}
</section>

{% include 'base/footer.twig' %}
