{% extends 'base/layout.twig' %}
{% import 'base/form.twig' as form %}

{% block nav_extension %}
  {% if tournament is defined %}
    <!-- Untermenü für die "Turnier-Hauptseite" -->
    <ul class="submenu">
      <li>
        <a href="{{ url_for('tournament_control', {'tournamentId': tournament.id}) }}">
        Turnierleitung
        </a>
      <ul class="submenu-2">
        <li class="active">Anmeldungen</li>
      </ul>
      </li>
    </ul>

  {% endif %}
{% endblock %}


{% block content %}
<div class="form-box">
<h2>Teilnehmer</h2>
<table class="participants-table">
   <thead>
      <tr>
         <th>Aktionen</th>
         <th>Teilnehmer</th>
         {% for category in categories -%}
         <th>{{ category.name }}</th>
         {% endfor -%}
      </tr>
   </thead>
   <tbody>
      {% for participant in participants %}
      <tr>
         <td>
            <a href="{{ url_for('show_participant', { 'tournamentId': tournament.id, 'participantId': participant.id }) }}">Bearbeiten</a>
            <form method="POST" action="{{ url_for('delete_participant', { 'tournamentId': tournament.id, 'participantId': participant.id }) }}">
               <input type="submit" value="Löschen" onclick="return confirm('{{ participant.lastname }}, {{ participant.firstname }} wirklich löschen?');">
            </form>
         </td>
         <td>{{ participant.lastname }}, {{ participant.firstname }}</td>
         {% for category in categories -%}
         <td><input type="checkbox" name="category_{{category.id}}[]" value="{{participant.id}}" title="{{category.name}}" form="participant_list_form"
                {%- if participant.categories[category.id] is defined %} checked{%endif%}></td>
         {% endfor -%}
         </tr>
      {% endfor %}
   </tbody>
</table>
<form method="POST" action="{{ url_for('update_participant_list', { 'tournamentId': tournament.id }) }}" id="participant_list_form">
   {{ form.submit('Speichern') }}
</form>
</div>

<div class="form-box">
<h2>Teilnehmer hinzufügen</h2>
<form method="POST" action="{{ url_for('import_participants', { 'tournamentId': tournament.id }) }}" id="participant_add_form">
    
    	<label for="participants">Teilnehmerliste</label>
    	{{ form.textarea('participants', '', prev.participants ?? '', errors.participants, attributes={'rows':10, 'cols': 50, 'id':'participants', 'placeholder':'Vorname Nachname pro Zeile'}) }}
	
    <fieldset class="category-fieldset">
      <legend>Kategorien auswählen</legend>
      <div class="category-checkboxes">
        {% for category in categories %}
          <label class="category-label">
            {{ form.checkbox('categories[]', category.name, category.id in prev.categories, '', attributes={'value': category.id}) }}
          </label>
        {% endfor %}
      </div>
    </fieldset>

    {{ form.submit('Hinzufügen', attributes={'class':'form-btn'}) }}
  </form>
</div>

{% endblock %}